
@{
    ViewData["Title"] = "Portal Bibliotecário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Portal Bibliotecário</h1>

<ul>
    <li><a href="/Bibliotecario/Autores">Gerir Autores</a></li>
    <li><a href="/Bibliotecario/EdiLivros">Gerir Edições de Livros</a></li>
    <li><a href="/Bibliotecario/UniLivros">Gerir Unidades de Livros</a></li>
    <li><a href="/Bibliotecario/Editores">Gerir Editores</a></li>
    <li><a href="/Bibliotecario/Emprestimos">Gerir Emprestimos</a></li>
    <li><a href="/Bibliotecario/Generos">Gerir Géneros</a></li>
</ul>
