
@{
    ViewData["Title"] = "Portal Bibliotecário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Portal Bibliotecário</h1>

<div class="grid-autores">
    <div class="grid-titleautores">
        Portal de Bibliotecário
    </div>
</div>
<div class="portalborder">
   
    <div class="portalcolumns">
        <a class="linksbibliotecario" href="/Bibliotecario/">[Início]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/Autores">[Autores]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/EdiLivros">[Edições de Livros]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/UniLivros">[Unidades de Livros]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/Editores">[Editores]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/Reqs">[Requisições]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/Generos">[Géneros]</a>
    </div>

</div>
