html {
  font-size: 14px;
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    width: 100%;
    padding-bottom: 100px;
}




.grid-container {
    display: grid;
    gap: 10px;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.row2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.row3 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
}

.row4 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
}

.row6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}






.grid-item {
    background-color: #8ac6d1;
    padding: 20px;
    text-align: center;
    border: 1px solid #333;
    position: relative;
    display: inline-block;
}




.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: 1000;
}

    .dropdown-menu a {
        display: block;
        padding: 10px;
        color: #000;
        text-decoration: none;
    }
 .dropdown-menu a:hover {
            background: #f0f0f0;
        }

.grid-item:focus .dropdown-menu,
.grid-item:hover .dropdown-menu {
    display: block;
}
