@{
	ViewData["Title"] = "Autor";
}

<div class="grid-autores">
    <div class="grid-titleautores">
		Nome do Autor
	</div>
</div>
<div class="grid-colunasa">
    <div class="grid-item"> </div>
	<div class="grid-item7">
		<img src="https://placehold.co/159x239">
	</div>
	<div class="grid-autorestxt">
        Percival Everett is a Distinguished Professor of English at USC. His most recent books include James, Dr. No (finalist for the NBCC Award for Fiction and winner of the PEN/ Jean Stein Book Award), The Trees (finalist for the Booker Prize and the PEN/Faulkner Award for Fiction), Telephone (finalist for the Pulitzer Prize), So Much Blue, Erasure, and I Am Not Sidney Poitier. He has received the NBCC Ivan Sandrof Life Achievement Award and The Windham Campbell Prize from Yale University. American Fiction, the feature film based on his novel Erasure, was released in 2023 and was awarded the Academy Award for Best Adapted Screenplay. He lives in Los Angeles with his wife, the writer Danzy Senna, and their children.
	</div>
</div>

<div class="grid-autores">
<div class="grid-titleautores">

Mais Livros deste Autor
</div>

</div>
<div class="grid-itemautores">
    <a href="#" class="booklink">
        See all
    </a>
</div>
<div class="rowautores">
	<div class="grid-book">
		<div>
			<a href="#" class="bookcover">
				<div>
					<img src="https://placehold.co/159x239">
				</div>
			</a>
		</div>
		<div>
			<a href="#" class="bookproperty1">
				NOME DO LIVRO
			</a>
		</div>
		<div>
			<a href="#" class="bookproperty2">
				NOME DO ESCRITOR
			</a>
		</div>

	</div>

	<div class="grid-book">
		<div>
			<a href="#" class="bookcover">
				<div>
					<img src="https://placehold.co/159x239">
				</div>
			</a>
		</div>
		<div>
			<a href="#" class="bookproperty1">
				NOME DO LIVRO
			</a>
		</div>
		<div>
			<a href="#" class="bookproperty2">
				NOME DO ESCRITOR
			</a>
		</div>

	</div>

	<div class="grid-book">
		<div>
			<a href="#" class="bookcover">
				<div>
					<img src="https://placehold.co/159x239">
				</div>
			</a>
		</div>
		<div>
			<a href="#" class="bookproperty1">
				NOME DO LIVRO
			</a>
		</div>
		<div>
			<a href="#" class="bookproperty2">
				NOME DO ESCRITOR
			</a>
		</div>

	</div>

	<div class="grid-book">
		<div>
			<a href="#" class="bookcover">
				<div>
					<img src="https://placehold.co/159x239">
				</div>
			</a>
		</div>
		<div>
			<a href="#" class="bookproperty1">
				NOME DO LIVRO
			</a>
		</div>
		<div>
			<a href="#" class="bookproperty2">
				NOME DO ESCRITOR
			</a>
		</div>

	</div>

	<div class="grid-book">
		<div>
			<a href="#" class="bookcover">
				<div>
					<img src="https://placehold.co/159x239">
				</div>
			</a>
		</div>
		<div>
			<a href="#" class="bookproperty1">
				NOME DO LIVRO
			</a>
		</div>
		<div>
			<a href="#" class="bookproperty2">
				NOME DO ESCRITOR
			</a>
		</div>

	</div>

</div>
