@{
    ViewData["Title"] = "Cookies";
}

<p class="grid-container1">
    <p class="grid-titletxt"> Política de Cookies </p>
<div class="grid-txt">

	<p>

		<b> 1. </b> A BibloOn utiliza cookies neste site. Um cookie é um pequeno arquivo de texto criado pelos sites que visita e é armazenado no seu navegador de internet. Serve para guardar informações relacionadas à sua navegação, com o objetivo de melhorar a sua experiência ou fornecer dados para o site.
	</p>

	<p>
		<b> 2. </b> Os cookies recolhidos serão utilizados exclusivamente pela BiblioOn e a sua utilização, sempre respeitosa e não invasiva em relação à privacidade do utilizador, será limitada às seguintes finalidades:
	</p>
	<p>
	A) Identificar o utilizador e, com base nessa informação, aprimorar a qualidade e a eficiência do serviço oferecido, mantendo registos relacionados às suas preferências e eliminando a necessidade de fornecer repetidamente os mesmos dados; <br>
	B) Avaliar os níveis quantitativos e qualitativos de uso do serviço.
	</p>

	<p>
	<b> 3. </b> Os cookies são atribuídos de forma individual a cada utilizador, assegurando a segurança e a confidencialidade das informações.
	</p>

	<p>
	<b> 4. </b> Os cookies serão armazenados no disco rígido do computador do utilizador para registar as suas preferências.
	</p>

	<p>
	<b> 5. </b> Embora essa ação possa resultar na perda de algumas funcionalidades normalmente disponíveis no site, o utilizador tem a opção de desativar os cookies no seu navegador.
	</p>

	<p>
	<b> 6. </b> Todos os browsers permitem que o utilizador aceite, reijeite ou elimine cookies, ajustando as configurações apropriadas no próprio navegador. A configuração dos cookies pode ser feita no menu "opções" ou "preferências".
	</p>

	<p>
	<b> 7. </b> No entanto, ao realizar qualquer uma das ações relacionadas aos cookies mencionadas no ponto anterior, independentemente do navegador utilizado, o utilizador poderá enfrentar limitações na operação de certas funcionalidades do site, resultando em possíveis prejuízos na qualidade da navegação.
	</p>

	<p>
	<b>
	8. Configuração de cookies – Internet Explorer:
	</b>
	</p>
	<p>
	A) clique no menu “ferramentas” e escolha a opção “opções da internet”; <br>
	B) selecione o separador “privacidade”; <br>
	C) mova a barra para o topo, onde surgirá a opção “bloquear todos os cookies”.
	</p>

	<p>
	<b>
	9. Configuração de cookies – Mozilla Firefox:
	</b>
	</p>
	<p>
	A) clique no menu “ferramentas”; <br>
	B) selecione “opções”; <br>
	C) clique no ícone de “privacidade” que encontra no painel superior; <br>
	D) na secção “cookies” desative a opção “aceitar cookies do site”; <br>
	E) clique em “ok” para guardar as alterações e fechar.
	</p>

	<p>
	<b>
	11. Configuração de cookies – Safari Web e IOS:
	</b>
	<p>
	A) clique em “edit”; <br>
	B) selecione “preferences”; <br>
	C) no painel superior, selecione o ícone “security”; <br>
	D) na secção “accept cookies”, selecione “never”.
	</p>

	</div>
