@{
    ViewData["Title"] = "Cookies";
}

<p class="grid-container1">
    <p class="grid-titletxt"> Política de Cookies </p>
<div class="grid-txt">

	<p>

	1. A BibloOn utiliza cookies neste site. Um cookie é um pequeno arquivo de texto que identifica o seu computador no nosso servidor. Os cookies, por si só, não identificam o usuário individual, apenas o computador utilizado, e não são usados para recolher informações pessoais.
	</p>

	<p> 
	2. Os cookies recolhidos serão apenas utilizados pela BiblioOn e a sua utilização, que nunca ocorrerá de forma abusiva ou invasiva da privacidade do utilizador, limita-se às seguintes finalidades: 
	</p>
	<p>
	I) reconhecer a identidade do utilizador e, na posse dessa informação, melhorar a qualidade e eficácia do serviço prestado, através da retenção de informação relacionada com as suas preferências e eliminando a necessidade de introduzir repetidamente as mesmas informações;
	II) estimar os níveis quantitativos e qualitativos de utilização do serviço.
	</p>

	<p>
	3. Os cookies são atribuídos individualmente a cada um dos utilizadores de forma a garantir a segurança e confidencialidade dos dados.
	</p>

	<p>
	4. Os cookies serão armazenados no disco rígido do computador do utilizador de modo a guardar as suas preferências.
	</p>

	<p>
	5. Ainda que tal operação possa ocasionar a perda de algumas funcionalidades normalmente disponíveis no site, o utilizador pode desabilitar os cookies no seu browser.
	</p>

	<p>
	6. Todos os browsers permitem ao utilizador aceitar, recusar ou apagar cookies, nomeadamente através da seleção das definições apropriadas no respetivo navegador. Pode configurar os cookies no menu “opções” ou “preferências”.
	</p>

	<p>
	7. No entanto, sempre que realizar qualquer uma das tarefas relacionadas com os cookies previstas no ponto anterior, independentemente do browser, o utilizador pode ver-se confrontado com a existência de constrangimentos relacionados com a operacionalidade de certas funcionalidades disponíveis no site, com necessários prejuízos na qualidade da navegação a operar neste último.
	</p>

	<p>
	8. Configuração de cookies – Internet Explorer:
	</p>
	<p>
	A) clique no menu “ferramentas” e escolha a opção “opções da internet”;
	</p>
	<p>
	B) selecione o separador “privacidade”;
	</p>
	<p>
	C) mova a barra para o topo, onde surgirá a opção “bloquear todos os cookies”.
	</p>

	<p>
	9. Configuração de cookies – Mozilla Firefox:
	</p>
	<p>
	A) clique no menu “ferramentas”;
	</p>
	<p>
	B) selecione “opções”;
	</p>
	<p>
	C) clique no ícone de “privacidade” que encontra no painel superior;
	</p>
	<p>
	D) na secção “cookies” desative a opção “aceitar cookies do site”;
	</p>
	<p>
	E) clique em “ok” para guardar as alterações e fechar.
	</p>

	<p>
	11. Configuração de cookies – Safari Web e IOS:
	<p>
	A) clique em “edit”;
	</p>
	<p>
	B) selecione “preferences”;
	</p>
	<p>
	C) no painel superior, selecione o ícone “security”;
	</p>
	<p>
	D) na secção “accept cookies”, selecione “never”.
	</p>

	</div>
