@{
	ViewData["Title"] = "Copyright";
}
<p class="grid-container1">
<p class="grid-titletxt"> Copyright e Trademarks </p>
<p>

	A BiblioOn respeita os direitos de propriedade intelectual. Esta secção descreve as políticas de direitos de autor e trademarks aplicavéis ao conteúdo da BiblioOn.

<p>
	1. Direitos de Autor (copyrights)
</p>

<p>
	Todo o conteúdo disponível na BiblioOn, incluindo textos, imagens, logótipos e outros materiais, é protegido por direitos de autor, tanto a nível nacional como internacional. O conteúdo é da Universidade de Trás-os-Montes e Alto Douro (UTAD) ou de outras entidades que tenham dado permissão para o seu uso. Os materiais de autores internacionais e editoras estrangeiras presentes na plataforma estão sujeitos às leis de direitos de autor dos respetivos países de origem. Nenhum conteúdo poderá ser utilizado de forma comercial ou de outra forma utilizado sem a permissão dos detentores dos direitos de autor ou sem as devidas licenças.
</p>


<p>
	2. Marcas Registadas (Trademarks)
</p>
O logótipo da UTAD, e outras marcas associadas ao BiblioOn, são marcas registadas. Materiais de autores ou editoras estrangeiras podem também conter marcas registadas, como logótipos de editoras ou outras entidades. O uso não autorizado dessas marcas poderá resultar em sanções legais. A política de marcas também se aplica aos materiais provenientes de editoras internacionais, que devem ser respeitados de acordo com as leis de marcas registadas do país de origem.
<p>
	O utilizador pode fazer uso pessoal, educativo ou não comercial, do conteúdo da BiblioOn, desde que os direitos de autor sejam respeitados.
</p>

<p>
	3. Alterações à Política de Copyright e Marcas Registadas
</p>

<p>
	A UTAD reserva o direito de alterar esta política a qualquer momento. Qualquer alteração será publicada nesta página e será válida a partir da data de sua publicação. O uso contínuo da BiblioOn após a publicação das mudanças implica a aceitação das novas condições.
</p>

<p>
	4. Legislação Aplicavél
</p>

<p>
	Esta política de Copyright e Marcas Registadas está sujeita à legislação de direitos de autor e propriedade intelectual de Portugal, bem como às leis internacionais aplicáveis. A UTAD compromete-se a cumprir com as normas internacionais e as regras de direito de autor do país de origem do material.
</p>

</p>
</p>

