@{
    ViewData["Title"] = "Copyright";
}
<div class="grid-container1">
    <div class="grid-titletxt"> Copyright e Trademarks </div>
    <div class="grid-txt">PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY </div>
</div>

