@{
	ViewData["Title"] = "Historico";
}

<div class="border">

	<div class="row9">
		<div class="grid-item">
			Historico
		</div>
	</div>

	<div class="row10">
		<div class="grid-item">
			1 - NUMERO SELECIONADO of TOTAL items
		</div>
		<div class="grid-item">
		<label for="sort">Sort by:</label>
		<select id="sort">
		  <option value="newest">Newest to Oldest</option>
		  <option value="oldest">Oldest to Newest</option>
		</select>		</div>
		<div class="grid-item">
		<select id="results">
		  <option value="20">20</option>
		  <option value="50">50</option>
		  <option value="100">100</option>
		</select>		</div>
	</div>


	<div class="row10">
		<div class="grid-item">
						<img src="https://placehold.co/159x239">
	<div  >
		NOME DO LIVRO

	<div>
		<a href="#">
			NOME DO ESCRITOR
		</a>
	</div>
	</div>
</div>

