@{
    ViewData["Title"] = "Home Page";
}

<div class="borderindex">
    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências Exatas
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div>

    </div>
    <div class="row6">
        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

    </div>

    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências Naturais
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div>

    </div>
    <div class="row6">
        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

    </div>

    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências Tecnológicas
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div>

    </div>
    <div class="row6">
        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

    </div>

    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências Agrárias
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div>

    </div>
    <div class="row6">
        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

    </div>

    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências Humanas e Socias
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div>

    </div>
    <div class="row6">
        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

    </div>

    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências da Saúde
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div>

    </div>
    <div class="row6">
        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

    </div>

        <div class="rowbooks1">
        <div class="bookcategory">
            Livros de Ficção
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div>

    </div>
    <div class="row6">
        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

    </div>

        <div class="rowbooks1">
        <div class="bookcategory">
            Livros de Não Ficção
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div>

    </div>
    <div class="row6">
        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

        <div class="grid-book">
            <div>
                <a href="#" class="bookcover">
                    <div>
                        <img src="/images/placeholder.svg">
                    </div>
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty1">
                    NOME DO LIVRO
                </a>
            </div>
            <div>
                <a href="#" class="bookproperty2">
                    NOME DO ESCRITOR
                </a>
            </div>

        </div>

    </div>
</div>







