@{
	ViewData["Title"] = "Info";
}

<div class="grid-container1">
    <div class="grid-titletxt"> Informações </div>
    <div class="grid-txt">
		<p>
		<b>
		<i>
		Horário de funcionamento:
		</i>
		</b>
		</p>

		<p>
		<b> Domingo: </b> <i> Encerrado </i> <br>
		<b> Segunda-feira: </b> 09:00 - 19:30 <br>
		<b> Terça-feira: </b> 09:00 - 19:30 <br>
		<b> Quarta-feira: </b> 09:00 - 19:30 <br>
		<b> Quinta-feira: </b> 09:00 - 19:30 <br>
		<b> Sexta-feira: </b> 09:00 - 19:30 <br>
		<b> Sábado: </b> <i> Encerrado </i>
		</p>

		<p>
		<b>
		<i>
		Contactos:
		</i>
		</b>
		</p>

		<p>
		<b> Serviços de Documentação e Bibliotecas: </b> <br>
		<b> Tel.: </b> <i> (+351) 259 350 015 (ext. 4015) </i> <br>
		<b> E-mail: </b> <i> <ins> apoio.tecnico@utad.pt </ins> </i>
		</p>
</div>
</div>


