@{
	ViewData["Title"] = "Info";
}
<div class="grid-item">PRIVACY POLICY </div>

<div class="grid-item">PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY </div>



