@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="grid-container1">
    <div class="grid-titletxt"> Política de Privacidade </div>
    <div class="grid-txt">PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY PRIVACY POLICY </div>
</div>


