@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="grid-container1">
    <div class="grid-titletxt"> Política de Privacidade </div>
	<div class="grid-txt">

		A sua privacidade é importante para nós. Os dados pessoais recolhidos de acordo com o Regulamento Geral de Proteção de Dados (RGPD) são armazenados e protegidos.
		
		1. Responsável pelo Tratamento de Dados
		O responsável pelo tratamento dos seus dados pessoais é a BiblioOn. Para questões relacionadas com a privacidade, pode contactar-nos através do email [email@example.com].

		2. Dados Pessoais Recolhidos
		Recolhemos os seguintes dados pessoais, tratados pela BiblioOn:

		-Leitores: Nome, email, username, password, morada, contactos.
		-Bibliotecários: Nome, username, password, contactos.
		-Administradores: Nome, email, username, password.
		Estes dados são fornecidos pelo utilizador no momento do registo na plataforma.

		3. Finalidades do Tratamento de Dados Pessoais
		Os seus dados serão tratados para:

		-Criar e gerir contas de utilizadores.
		-Funcionamento das funcionalidades do portal, como requisição de livros, histórico de empréstimos e notificações.
		-Enviar notificações importantes, como devoluções atrasadas.
		-Cumprimento de obrigações legais e regulatórias.

		4. Fundamento Jurídico do Tratamento de Dados
		Tratamos os seus dados pessoais com base nos seguintes fundamentos jurídicos:

		Consentimento do titular dos dados (por exemplo, ao efetuar o registo).
		Execução de um contrato ou diligências pré-contratuais (utilização das funcionalidades do portal).
		Cumprimento de obrigações legais.

		5. Partilha de Dados com Terceiros
		Os seus dados pessoais somente serão partilhados com terceiros caso necessário para o cumprimento de obrigações legais, ou com o seu consentimento prévio.

		6. Retenção de Dados
		Os dados pessoais serão armazenados apenas pelo tempo necessário,, exceto quando exigido por lei um período maior.

		7. Direitos dos Titulares de Dados
		De acordo com o Regulamento Geral sobre a Proteção de Dados (RGPD), os utilizadores têm os seguintes direitos:

		-Direito de acesso: Solicitar uma cópia dos seus dados pessoais armazenados.
		-Direito de retificação: Corrigir dados pessoais inexatos ou incompletos.
		-Direito ao apagamento: Solicitar o apagamento dos seus dados pessoais, salvo quando existam obrigações legais que exijam a sua conservação.
		-Direito à limitação do tratamento: Restringir o tratamento dos seus dados em determinadas condições.
		-Direito à portabilidade: Receber os dados num formato estruturado e legível, ou solicitar a transferência para outro responsável.
		-Direito de oposição: Opor-se ao tratamento dos seus dados em determinadas circunstâncias.

		8. Cookies e Tecnologias Similares
		O portal utiliza cookies para melhorar a experiência do utilizador. Para mais informações, consulte a nossa Política de Cookies.

		9. Alterações a esta Política de Privacidade
		Reservamo-nos o direito de atualizar esta Política de Privacidade a qualquer momento. Notificaremos os utilizadores de quaisquer alterações significativas através do portal ou por outros meios apropriados.

		10. Reclamações
		Se considerar que os seus direitos de privacidade não foram respeitados, tem sempre o direito de apresentar uma reclamação junto da Comissão Nacional de Proteção de Dados (CNPD) em Portugal (www.cnpd.pt).

	</div>
</div>


