@{
	ViewData["Title"] = "Privacy Policy";
}
<p class="grid-container1">
	<p class="grid-titletxt"> Política de Privacidade </p>
	<p>

		A sua privacidade é importante para nós. Os dados pessoais recolhidos de acordo com o Regulamento Geral de Proteção de Dados (RGPD) são armazenados e protegidos.
	</p>

	<p>
		1. Responsável pelo Tratamento de Dados
	</p>

	<p>
		O responsável pelo tratamento dos seus dados pessoais é a BiblioOn.
	</p>
	

	<p>
		2. Dados Pessoais Recolhidos
	</p>

	<p>
		Recolhemos os seguintes dados pessoais, tratados pela BiblioOn:
	</p>

	<p>
		-Leitores: Nome, email, username, password, morada, contactos.
	</p>

	<p>
	-Bibliotecários: Nome, username, password, contactos.
	</p>

	<p>
		-Administradores: Nome, email, username, password.
	</p>

	<p>
		Estes dados são fornecidos pelo utilizador no momento do registo na plataforma.
	</p>

	<p>
		3. Finalidades do Tratamento de Dados Pessoais
	</p>

	<p>
		Os seus dados serão tratados para:
	</p>

	<p>
		-Criar e gerir contas de utilizadores.
	</p>

	<p>
		-Funcionamento das funcionalidades do portal, como requisição de livros, histórico de empréstimos e notificações.
	</p>

	<p>
		-Enviar notificações importantes, como devoluções atrasadas.
	</p>

	<p>
		-Cumprimento de obrigações legais e regulatórias.
	</p>

	<p>
		4. Fundamento Jurídico do Tratamento de Dados
	</p>

	<p>
		Tratamos os seus dados pessoais com base nos seguintes fundamentos jurídicos:
	</p>

	<p>
		Consentimento do titular dos dados (por exemplo, ao efetuar o registo).
	</p>

	<p>
		Execução de um contrato ou diligências pré-contratuais (utilização das funcionalidades do portal).
	</p>

	<p>
		Cumprimento de obrigações legais.
	</p>

	<p>
		5. Partilha de Dados com Terceiros
	</p>

	<p>
		Os seus dados pessoais somente serão partilhados com terceiros caso necessário para o cumprimento de obrigações legais, ou com o seu consentimento prévio.
	</p>

	<p>
		6. Retenção de Dados
	</p>

	<p>
		Os dados pessoais serão armazenados apenas pelo tempo necessário,, exceto quando exigido por lei um período maior.
	</p>

	<p>
		7. Direitos dos Titulares de Dados
	</p>

	<p>
		De acordo com o Regulamento Geral sobre a Proteção de Dados (RGPD), os utilizadores têm os seguintes direitos:
	</p>


	<p>
		-Direito de acesso: Solicitar uma cópia dos seus dados pessoais armazenados.
	</p>

	<p>
		-Direito de retificação: Corrigir dados pessoais inexatos ou incompletos.
	</p>

	<p>
		-Direito ao apagamento: Solicitar o apagamento dos seus dados pessoais, salvo quando existam obrigações legais que exijam a sua conservação.
	</p>

	<p>
		-Direito à limitação do tratamento: Restringir o tratamento dos seus dados em determinadas condições.
	</p>

	<p>
		-Direito à portabilidade: Receber os dados num formato estruturado e legível, ou solicitar a transferência para outro responsável.
	</p>

	<p>
		-Direito de oposição: Opor-se ao tratamento dos seus dados em determinadas circunstâncias.
	</p>

	<p>
		8. Cookies e Tecnologias Similares
	</p>

	<p>
		O portal utiliza cookies para melhorar a experiência do utilizador. Para mais informações, consulte a nossa Política de Cookies.
	</p>

	<p>
		9. Alterações a esta Política de Privacidade
	</p>

	<p>
		Reservamo-nos o direito de atualizar esta Política de Privacidade a qualquer momento. Notificaremos os utilizadores de quaisquer alterações significativas através do portal ou por outros meios apropriados.
	</p>

	<p>
		10. Reclamações
	</p>

	<p>
		Se considerar que os seus direitos de privacidade não foram respeitados, tem sempre o direito de apresentar uma reclamação junto da Comissão Nacional de Proteção de Dados (CNPD) em Portugal (www.cnpd.pt).
	</p>

</p>
</p>