@{
	ViewData["Title"] = "SettingsConta";
}

<div class="border">

<div class="row8">

	<div class="grid-item">
		<div>
			<h1>Atualizar Nome</h1>
			<form>
				<div>
					<input type="text" placeholder="Primeiro Nome">
				</div>
				<div>
					<input type="text" placeholder="Ultimo Nome">
				</div>
				<div>
					<button type="submit">Guardar</button>
					<button type="button">Cancelar</button>
				</div>
			</form>
		</div>

	</div>

	<div class="grid-item">
		<div>
			<h1>Atualizar Username</h1>
			<form>
				<div>
					<input type="text" placeholder="Novo Username">
				</div>
				<div>
					<input type="text" placeholder="Confirmar Username">
				</div>
				<div>
					<button type="submit">Guardar</button>
					<button type="button">Cancelar</button>
				</div>
			</form>
		</div>

	</div>

</div>


<div class="row8">
	<div class="grid-item">
		<div>
			<h1>Atualizar Email</h1>
			<form>
				<div>
					<input type="email" placeholder="Novo Email">
				</div>
				<div>
					<input type="email" placeholder="Confirmal Novo Email">
				</div>
				<div>
					<button type="submit">Guardar</button>
					<button type="button">Cancelar</button>
				</div>
			</form>
		</div>

	</div>
	<div class="grid-item">
		<div>
			<h1>Atualizar Password</h1>
			<form>
				<div>
					<input type="password" placeholder="Password Antiga">
				</div>
				<div>
					<input type="password" placeholder="Password Nova">
				</div>
				<div>
					<button type="submit">Guardar</button>
					<button type="button">Cancelar</button>
				</div>
			</form>
		</div>

	</div>


</div>


<div class="row8">

	<div class="grid-item">
		<div>
			<h1>Atualizar Morada</h1>
			<form>
				<div>
					<input type="number" placeholder="Codigo Postal">
				</div>
				<div>
					<input type="text" placeholder="Morada">
				</div>
				<div>
					<button type="submit">Guardar</button>
					<button type="button">Cancelar</button>
				</div>
			</form>
		</div>

	</div>
	<div class="grid-item">
		<div>
			<h1>Atualizar Numero Telemovel</h1>
			<form>
				<div>
					<input type="tel" placeholder="Novo Numero Telemovel">
				</div>
				<div>
					<input type="tel" placeholder="Confirmar Novo Numero Telemovel">
				</div>
				<div>
					<button type="submit">Guardar</button>
					<button type="button">Cancelar</button>
				</div>
			</form>
		</div>

	</div>

</div>



</div>





