@{
    ViewData["Title"] = "Terms";
}
<p class="grid-container1">
    <p class="grid-titletxt"> Termos e Condições de Uso </p>
    
	<p>
	Última atualização: [Data]
	<p>
	Bem-vindo ao site da BiblioOn. Ao acessar e utilizar este site, concorda em cumprir os presentes Termos e Condições de Uso. Caso não concorde com alguma das condições aqui descritas, pedimos que não utilize este site.
	</p>

	<p>
	1. Finalidade do Site
	</p>
	<p>
	O site da BiblioOn tem como objetivo oferecer informações e serviços relacionados à biblioteca, incluindo:
	</p>
	<p>
	A. Catálogo de obras disponíveis;
	B. Consulta a prazos de empréstimos e reservas;
	C. Recursos educacionais e informativos.
	</p>

	<p>
	2. Uso Adequado do Site
	</p>
	<p>
	Ao utilizar o site, compromete-se a:
	</p>
	<p>
	A. Usá-lo exclusivamente para fins pessoais ou educacionais;
	B. Não praticar qualquer ato que possa comprometer a segurança ou funcionamento do site;
	C. Respeitar os direitos de propriedade intelectual da biblioteca e de terceiros.
	</p>
	<p>
	É proibido:
	</p>
	<p>
	A. Utilizar o site para atividades ilegais, fraudulentas ou prejudiciais;
	B. Distribuir vírus ou qualquer código malicioso por meio do site;
	C. Alterar, copiar ou reproduzir conteúdos do site sem autorização.
	</p>

	<p>
	3. Registo e Conta de Usuário
	</p>
	<p>
	Alguns serviços podem exigir registo e a criação de uma conta de usuário.
	O usuário é responsável pela confidencialidade das suas informações de login e pelas atividades realizadas na sua conta.
	A biblioteca reserva o direito de suspender ou encerrar contas que violem os Termos e Condições.
	</p>

	<p>
	4. Propriedade Intelectual
	</p>
	<p>
	Todo o conteúdo disponibilizado no site (textos, imagens, vídeos, logotipos, etc.) é protegido pelas leis de direitos autorais e é de propriedade exclusiva da BiblioOn ou dos seus parceiros.
	</p>
	<p>
	É proibido reproduzir, distribuir ou modificar qualquer material do site sem autorização prévia.
	</p>

	<p>
	5. Privacidade e Proteção de Dados
	</p>
	<p>
	A BiblioOn compromete-se a proteger a privacidade dos seus usuários conforme a Lei Geral de Proteção de Dados.
	</p>
	<p>
	Os dados armazenados serão utilizados apenas para fins relacionados aos serviços da biblioteca e não serão compartilhados com terceiros sem consentimento, salvo em casos previstos por lei.
	</p>

	<p>
	6. Limitação de Responsabilidade
	</p>
	<p>
	A BiblioOn não garante que o site estará livre de erros ou interrupções, mas fará esforços para assegurar a sua disponibilidade e segurança.
	</p>
	<p>
	A BiblioOn não se responsabiliza por danos diretos ou indiretos decorrentes do uso do site, incluindo perda de informações ou prejuízos financeiros.
	</p

	<p>
	7. Modificações nos Termos de Uso
	</p>
	<p>
	Reserva-se o direito de alterar estes Termos e Condições a qualquer momento, mediante publicação de versão atualizada no site.
	</p>
	<p>
	Recomendamos que os usuários verifiquem os Termos regularmente.
	</p>

	<p>
	8. Contactos
	</p>
	<p>
	Para quaisquer dúvidas, sugestões ou solicitações relacionadas ao site e aos Termos de Uso, entre em contacto connosco:
	</p>
	<p>
	E-mail: [E-mail];
	Telefone: [Número];
	Endereço: [Endereço].
	</p>
</p>



