@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header style="margin: 20px 100px; text-align:center">
    <h1 class="fonttitle">ACESSO NEGADO</h1>
    <p class="fonttxt">Esta conta não tem permissão para entrar nesta página.</p>
</header>
