@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <div class="grid-autores">
        <div class="grid-titleautores">
            Sair da Conta
        </div>
    </div>
    <div class="bordercaga">
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="buttonreq3">LOGOUT</button>
                </form>
            }
            else
            {
                <p class="fonttxt">
                    Logout da conta efetuado com sucesso.
                </p>
            }
        }
    </div>
</header>
