@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="grid-autores">
    <div class="grid-titleautores">
        Confirmação de Registo
    </div>
</div>
<div class="bordercaga">
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p class="fonttxt">
                Esta app atualmente não possui um remetente de e-mail real registrado. Vê <a class="fontlink2" href="https://aka.ms/aspaccountconf">estes documentos</a> para saber como configurar um remetente de e-mail real.
                Normalmente, isto seria enviado por email <a id="confirm-link" class="fontlink2" href="@Model.EmailConfirmationUrl">Clica aqui para confirmares a tua conta</a>.
            </p>
        }
        else
        {
            <p class="fonttxt">
                Acede ao email para confirmares a tua conta.
            </p>
        }
    }
</div>

