@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="grid-autores">
    <div class="grid-titleautores">
        Confirmação de Alteração de Palavra Passe
    </div>
</div>
<div class="bordercaga">
    <p class="fonttxt">
        A password foi alterada. Clica <a class="fontlink2" asp-page="./Login">aqui</a> para fazeres login.
    </p>
</div>

