
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-autores">
    <div class="grid-titleautores">
        Portal de Administrador
    </div>
</div>
<div class="portalborder">

    <div class="portalcolumns">
        <a class="linksbibliotecario" href="/Admin/">[Início]</a>
        <a class="linksbibliotecario" href="/Admin/leitorBans">[Banir Leitores]</a>
        <a class="linksbibliotecario" href="/Admin/mBibliotecarios">[Gerir Bibliotecários]</a>
        <a class="linksbibliotecario" href="/Admin/newAdmin">[Criar Novo Administrador]</a>
    </div>

</div>

