@model biblioon.Models.UniLivro

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>UniLivro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <select asp-for="Isbn" class="form-control" asp-items="ViewBag.Isbn"></select>
                <a asp-action="Create" asp-controller="EdiLivros" class="btn btn-link">Criar uma nova edição</a>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoAquisicao" class="control-label"></label>
                <input asp-for="PrecoAquisicao" class="form-control" />
                <span asp-validation-for="PrecoAquisicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAquisicao" class="control-label"></label>
                <input asp-for="DataAquisicao" class="form-control" />
                <span asp-validation-for="DataAquisicao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Requisitado" /> @Html.DisplayNameFor(model => model.Requisitado)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponivel" /> @Html.DisplayNameFor(model => model.Disponivel)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Anotacoes" class="control-label"></label>
                <input asp-for="Anotacoes" class="form-control" />
                <span asp-validation-for="Anotacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
