@page
@model IndexModel
@{
    ViewData["Title"] = "Conta";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="grid-autores">
    <div class="grid-titleautores">
        Gerir Conta
    </div>
</div>

    <div class="row">
        <div class="col-md-6">
            
        </div>
    </div>

<div class="rowde3">
    <div> </div>
    <section class="borderconta">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <input asp-for="Username" class="form-control" placeholder="Alterar Username" disabled />
            </div>
            <div class=" mb-3">
                <input asp-for="Input.NomeCompleto" class="form-control" placeholder="Alterar Nome" />
                <span asp-validation-for="Input.NomeCompleto" class="text-danger"></span>
            </div>
            <div class=" mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Alterar Número de Telemóvel" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class=" mb-3">
                <input asp-for="Input.MoradaRua" class="form-control" placeholder="Alterar Endereço" />
                <span asp-validation-for="Input.MoradaRua" class="text-danger"></span>
            </div>
            <div class=" mb-3">
                <input asp-for="Input.MoradaCodPostal" class="form-control" placeholder="Alterar código-postal" />
                <span asp-validation-for="Input.MoradaCodPostal" class="text-danger"></span>
            </div>
            <div class=" mb-3">
                <input asp-for="Input.MoradaLocalidade" class="form-control" placeholder="Alterar Localidade" />
                <span asp-validation-for="Input.MoradaLocalidade" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="buttonreq3">GUARDAR ALTERAÇÕES</button>
        </form>
    </section>
    <div> </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }


